:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

@font-face {
  font-family: 'starwarsfont';
  src: url('./assets/Starjedi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-image: url(https://cdn.mos.cms.futurecdn.net/rXQiLcfc89vp3EbYQ58ERH-1200-80.jpeg);
  font-family: 'starwarsfont';
}

.pics {
  height: 160px;
  width: 160px;
}

.rps-title {
  text-align: center;
  font-size: 3.5rem;
  color: #ffe81f;
  margin: 0;
  margin-top: 0.3rem;
  padding-top: 0.3rem 0rem 0.3rem 0rem;
}

.player-computer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}

.sides {
  display: flex;
  flex-direction: column;
}

.versus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-title {
  text-align: center;
  border: solid;
  background-color: rgb(55, 132, 214);
  color: #ffe81f;
  font-size: 30px;
  border-radius: 5px;
  padding: 0.2rem;
}

.results-text {
  text-align: center;
  font-size: 28px;
}

.results-texts {
  text-align: center;
  font-size: 28px;
  color: white;
  margin-top: 0;
}

.choose {
  margin-bottom: 0;
}

.computer-title {
  text-align: center;
  border: solid;
  background-color: rgb(229, 17, 21);
  color: #ffe81f;
  font-size: 30px;
  border-radius: 5px;
  padding: 0.2rem;
}

.reset {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
  cursor: pointer;
  margin: 3px;
  background-color: rgb(135, 220, 90);
  font-family: 'starwarsfont';
}

.reset:hover {
  margin: 0px;
  transform: scale(1.05) perspective(1px);
  box-shadow: 0 0 5px 5px rgb(135, 220, 90);
}

.version-two-game {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
  cursor: pointer;
  margin: 3px;
  font-family: 'starwarsfont';
  background-color: rgb(55, 132, 214);
}

.version-two-game:hover {
  margin: 0px;
  transform: scale(1.05) perspective(1px);
  box-shadow: 0 0 5px 5px rgb(55, 132, 214);
}

.reset:hover {
  margin: 0px;
  transform: scale(1.05) perspective(1px);
  box-shadow: 0 0 5px 5px rgb(135, 220, 90);
}

.reset-button {
  margin: 15px;
}

.rock-player {
  margin: 3px;
  border: 2.5px solid rgb(55, 132, 214);
  cursor: pointer;
  background-color: white;
}

.rock-player:hover {
  margin: 0px;
  box-shadow: 0 0 5px 5px rgb(55, 132, 214);
  transform: scale(1.05) perspective(1px);
}

.paper-player {
  margin: 3px;
  border: 2.5px solid rgb(55, 132, 214);
  cursor: pointer;
  background-color: white;
}

.paper-player:hover {
  margin: 0px;
  box-shadow: 0 0 5px 5px rgb(55, 132, 214);
  transform: scale(1.05) perspective(1px);
}

.scissors-player {
  margin: 3px;
  border: 2.5px solid rgb(55, 132, 214);
  cursor: pointer;
  background-color: white;
}

.scissors-player:hover {
  margin: 0px;
  box-shadow: 0 0 5px 5px rgb(55, 132, 214);
  transform: scale(1.05) perspective(1px);
}

.rock-computer {
  margin: 3px;
  border: 2.5px solid rgb(229, 17, 21);
  background-color: white;
}

.paper-computer {
  margin: 3px;
  border: 2.5px solid rgb(229, 17, 21);
  background-color: white;
}

.scissors-computer {
  margin: 3px;
  border: 2.5px solid rgb(229, 17, 21);
  background-color: white;
}

.computer-border {
  margin: 0px;
  box-shadow: 0 0 5px 5px rgb(229, 17, 21);
  transform: scale(1.05) perspective(1px);
}

.player-border {
  margin: 0px;
  box-shadow: 0 0 5px 5px rgb(55, 132, 214);
  transform: scale(1.05) perspective(1px);
}

a {
  text-decoration: none;
  color: black;
}
